.card {
    border: solid;
    border-color: #989898;
    border-radius: 1rem;
    border-width: 2px;
    margin: 1rem;
    padding: 1rem;
    
  }


.btn {
    text-transform: uppercase;
    border: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    transition: color 0.4s, background-color 0.4s, border-color 0.4s, box-shadow 0.4s;
    padding: .5rem;
  }

.btn-warning {
  
    background-color: #ff9800;
}

.btn-warning:focus {
    background-color: #ff9800;
    box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.5);
}

.btn-warning:hover, .btn-warning:active:hover {
    background-color: #e08600;
}

  .btn-warning:active {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }

  .btn-warning::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-left: 0;
    pointer-events: none;
    content: "";
    background-position: 50%;
    background-size: 1000% 1000%;
    border: none;
    opacity: 0;
    background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
}

.btn-warning:active::before {
    background-size: 0 0;
    opacity: 0.2;
    transition: none;
}

 

.imagen-prod {
    height: 200px;
    width: 200px;
    display: inline-block;
    }



