.btn {
    --bs-btn-padding-x: 1rem;
    --bs-btn-padding-y: 0.8rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: #444;
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0.375rem;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    background-image: var(--bs-gradient);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  @media (prefers-reduced-motion: reduce) {
    .btn {
      transition: none;
    }
  }
  .btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
  }
  .btn-check + .btn:hover {
    color: var(--bs-btn-color);
    background-color: var(--bs-btn-bg);
    border-color: var(--bs-btn-border-color);
  }
  .btn:focus-visible {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    background-image: var(--bs-gradient);
    border-color: var(--bs-btn-hover-border-color);
    outline: 0;
    box-shadow: var(--bs-btn-focus-box-shadow);
  }

  .btn-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: #4caf50;
    --bs-btn-border-color: #4caf50;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #419544;
    --bs-btn-hover-border-color: #3d8c40;
    --bs-btn-focus-shadow-rgb: 103, 187, 106;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #3d8c40;
    --bs-btn-active-border-color: #39833c;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #4caf50;
    --bs-btn-disabled-border-color: #4caf50;
  }

  .btn-danger {
    --bs-btn-color: #fff;
    --bs-btn-bg: #e51c23;
    --bs-btn-border-color: #e51c23;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #c3181e;
    --bs-btn-hover-border-color: #b7161c;
    --bs-btn-focus-shadow-rgb: 233, 62, 68;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #b7161c;
    --bs-btn-active-border-color: #ac151a;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #e51c23;
    --bs-btn-disabled-border-color: #e51c23;
  }

  #contador {
    margin: 1rem;
  }

  .adminCant {
    align-items: center;
    justify-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
  }
  